/** @format */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
}
.navigation-bar {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 300;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 7.5%;
  top: 0;
  background-color: #d61130;
  font-size: 2.375rem;
}
.navigation-bar > a {
  text-decoration: none;
  color: white;
}
.navigation-bar__text:hover {
  font-weight: 500;
  font-size: 1.2em;
}
.navigation-bar__icon:hover {
  font-size: 1.25em;
}
.header {
  margin: 20px 0px 0px 0px;
  max-width: 100%;
  width: 100%;
  height: auto;
  top: 60px;
}
.header__image {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 60%;
  display: inline-block;
  position: relative;
}
.header__text {
  position: absolute;
  display: block;
  height: 75vh;
  width: 65vw;
  border-bottom-right-radius: 50%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  top: 0;
  float: right;
  padding: 2.08% 2.08% 2.08% 2.08%;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  padding: 90px 60px 20px 20px;
}
.header__text > h1 {
  margin: 0px 0px 0px 0px;
  font-size: 3.125rem;
}
.header__text > p {
  font-size: 1.875rem;
  font-weight: 300;
  margin: 30px 10px 0px 0px;
}
.main-content {
  margin: 20px;
}
.form {
  margin-top: 100px;
  margin-bottom: 70px;
  background-color: #ebeae2ce;
  border-radius: 25px;
  padding: 50px;
  height: 60%;
}

label {
  width: 150px;
  display: inline-block;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.form > form > h1 {
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
input {
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  border-radius: 25px;
  padding: 5px;
  height: 30px;
  margin: 10px 0px 0px 10px;
}

input::placeholder {
  opacity: 0.75;
  color: black;
  font-size: 20px;
}
input[type="date"]:invalid::-webkit-datetime-edit {
  padding: 10px;
  color: black;
  opacity: 0.75;
}
.form-input-area__location,
.form-input-area__from,
.form-input-area {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
}
input[type="text"] {
  width: 35%;
  padding: 10px;
}

.form-input-area__to > label {
  width: 150px;
}

.form-button-area > button,
.event-content__button {
  width: 20%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  background-color: #d61130;
  border-radius: 5px;
}
.form-button-area > button:hover {
  border-radius: 25px;
}
.event-content__button > button:hover {
  border-radius: 25px;
}
#form-button-area__search {
  margin: 10px 20px 0px 160px;
}
#form-button-area__nearme {
  margin: 10px 0px 0px 20px;
}
.events-information {
  font-family: "Montserrat", sans-serif;
  padding: 50px 70px 0px 70px;
}
.events {
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 60px;
}
.event-content-right {
  margin: 0px 0px 10px 40px;
}
.event-content-left {
  margin: 0px 40px 5px 0px;
}
.event-content__image {
  object-fit: cover;
  width: 470px;
  height: 300px;
}

.event-content__heading {
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0px;
}
.event-content__heading:before {
  content: "";
  background-color: #d61130;
  display: block;
  height: 3px;
  width: 140px;
}
.event-content__paragraph {
  font-size: 18px;
  font-weight: 300;
}
.event-content__button {
  margin-top: 5px;
  width: 40%;
}
.event-content__button:hover {
  border-radius: 25px;
}
iframe {
  height: 40vh;
  width: 90vw;
}
.fixed-dark-mode-button {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 20px;
}
.fixed-dark-mode-button > button {
  border: none;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 30px;
  border-radius: 50%;
}
footer {
  font-family: "Montserrat", sans-serif;
}
.footer {
  margin: auto;
  display: flex;
  justify-content: space-around;
  background-color: rgb(208, 202, 202);
}
.footer__content__heading {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.footer__content__list > h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.footer__content__list > a:visited {
  color: black;
}
a {
  color: black;
  text-decoration: none;
}
i {
  margin-right: 10px;
  margin-left: 10px;
}
#fixed-dark-mode-button__button {
  color: white;
  background-color: black;
}
.dark-mode {
  background-color: #0b090a;
  color: white;
}
.dark-mode > .navigation-bar {
  background-color: #a4161a;
}
.dark-mode > .navigation-bar > .navigation-bar__text {
  color: white;
}
.dark-mode > .navigation-bar > .navigation-bar__icon {
  color: white;
}
.dark-mode > .main-content > .form {
  background-color: #161a1d;
}
.dark-mode
  > .main-content
  > .form
  > form
  > .form-input-area
  > .form-input-area__location
  > input {
  color: white;
  background-color: #333333;
}
.dark-mode
  > .main-content
  > .form
  > form
  > .form-input-area
  > .form-input-area__location
  > input::placeholder {
  color: white;
  opacity: 0.5;
}
.dark-mode
  > .main-content
  > .form
  > form
  > .form-input-area
  > .form-input-area__from
  > input {
  background-color: #333333;
  color: white;
}
.dark-mode
  > .main-content
  > .form
  > form
  > .form-input-area
  > .form-input-area__from
  > input[type="date"]:invalid::-webkit-datetime-edit {
  color: white;
  opacity: 0.5;
}

.dark-mode
  > .main-content
  > .form
  > form
  > .form-input-area
  > .form-input-area__to
  > input {
  color: white;
  background-color: #333333;
}
.dark-mode
  > .main-content
  > .form
  > form
  > .form-input-area
  > .form-input-area__to
  > input[type="date"]:invalid::-webkit-datetime-edit {
  color: white;
  opacity: 0.5;
}
.dark-mode > .fixed-dark-mode-button > #fixed-dark-mode-button__button {
  background-color: white;
  color: black;
}
.dark-mode > footer > .footer {
  background-color: #660708;
}
.dark-mode
  > footer
  > .footer
  > .footer__content
  > .footer__content__list
  > h4
  > a {
  color: white;
}
.dark-mode > footer > .footer__content__list > h4 > a:visited {
  color: white;
}
@media (min-width: 1920px) {
  .event-content__heading {
    font-size: 35px;
  }
  .event-content__heading:before {
    content: "";
    background-color: #d61130;
    display: block;
    height: 3px;
    width: 140px;
  }
  .event-content__paragraph {
    font-size: 25px;
    font-weight: 300;
  }
  .form {
    padding: 80px;
  }
  iframe {
    width: 100vw;
    height: 40vh;
  }
  .header__text {
    position: absolute;
    display: block;
    height: 70vh;
    width: 65vw;
    border-bottom-right-radius: 50%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    top: 0;
    float: right;
    padding: 2.08% 2.08% 2.08% 2.08%;
    color: #fff;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    padding: 90px 60px 20px 20px;
  }
  .header__text > h1 {
    margin: 10px 0px 0px 0px;
    font-size: 3.75rem;
  }
  .header__text > p {
    font-size: 2.188rem;
    font-weight: 300;
    margin: 60px 10px 0px 0px;
  }
  .footer__content__list > h4 {
    font-size: 1.375rem;
  }
  .events-information {
    padding: 80px 70px 0px 70px;
  }
}
